/* SETTINGS */
:root{
    --color-alpha: #de4831;
    --color-beta: #e1decb;
    --color-dark: #221e21;

    --gutter: 24px;
}


/* ELEMENTS */

body,
html{
    /* Positioning */
    /* Box model */
    /* Fonts */
    font-family: 'Sarabun', sans-serif;
    font-size: 17px;
    line-height: 1.6;
    color: var(--color-dark);
    /* Appearence */
    /* Other styles */
    
}

/* OBJEcTS */
.o-grid{
    display: grid;
    gap: calc(var(--gutter)*2);
}

.o-hide{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* UTILITIES */
.u-grid-main-layout{
    grid-template-columns: 350px 1fr;
    min-height: 100vh;
}

.u-color-alpha{
    color: var(--color-alpha);
}

.u-grid-overview{
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

/* COMPONENTS */

/* Sidebar */
.c-sidebar{
    background: var(--color-beta);
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: var(--gutter);
}


.c-sidebar-header{
    display: flex;
    align-items: center;
}

.c-sidebar-header__image{
    max-height: var(--gutter);
}

.-sidebar-header__title{
    font-size: 1rem; /*relative to the body's font-size*/
    margin-left: calc(var(--gutter)/2)
}

.c-sidebar-menu{
}

.c-sidebar-counter{
    font-size: .9rem;
    font-weight: 600;
    opacity: .7;
}

/* Menu */
.c-menu-list{
    list-style: none;
    margin: 0 0 calc(var(--gutter)*3);
    padding: 0;


}

.c-menu__item{
 
}

.c-menu__link{
    all:unset;

    color: var(--color-alpha);
    font-size: .95rem;
    font-weight: 600;

    will-change: opacity;
    transition: opacity 200ms ease-out;
    opacity: .7;

    cursor: pointer;
}

.c-menu__link:hover{
    opacity: 1;
}

.c-menu__title{
    margin-bottom: 0;

    font-size: .8rem;
    text-transform: uppercase;
    opacity: .7;
}

/* Content*/
.c-content{
    height: 100vh;
    overflow-x: auto;
}

/* Country */
.c-country{
    display: block;
    opacity: 1;
    cursor: pointer;
}

.c-country-input:checked + .c-country{
    opacity: .6;
}

.c-country-header{
    display: flex;
    align-items: flex-start;
}

.c-country-header__name{
    font-size: 1.2rem;
    margin: 0;
}

.c-country-header__flag{
    display: block;
    height: calc(var(--gutter)/2);
    margin-left: calc(var(--gutter)/2);
    border-radius: 4px;
}

.c-country__native-name{
    margin: 0;
    opacity: .7;
    font-size: .9rem;
}

